$col-red-main: #EC2227;
$col-red-dark:#AC1B1E;
$col-grey-dark: #5A5A5A;
$col-grey-medium: #A0A0A0;
$col-grey-light: #c6c6c6;
$col-grey-lighter: #CECECE;
$col-white-milky: #FAF4DF;

//GIEREK
$col-red: #BF3E38;

//PATKA
$col-purple: #282529;
$col-purple-more: #0e0613;
$col-little-white: #b9a690;
$col-action: #f0a24a;
$col-white: #fff;
$col-black: rgb(14, 13, 12);